body {
    background: #FFFFFF;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
  }

/* Navigation Links */
.nav {
  position: absolute;
  top: 10px;
  right: 10px;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
  color: #1a73e8;
}

.nav a:hover {
  text-decoration: underline;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    position: relative;
    z-index: 1;
    margin-top: 20vh;
}

#logo {
    height: auto;
    width: 30%;
    margin-bottom: 38px;
    z-index: 1;
}

.searchboxContainer {
  display: inherit;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
}



#input {
  text-overflow: ellipsis;
  background-color: #FFFFFF;
  font-family: inherit;
  border-radius: 24px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  outline: none;
  transition: box-shadow 0.3s;
  width: 100%;
}

#input :hover {
  box-shadow: 0px 0px 5px #4285f4;
  border-color: #4285f4;
}

/* Buttons */
.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  color: #555;
  background-color: #f8f9fa;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #f1f1f1;
}



.advanced-options label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.advanced-options .input-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Button Styling */
.advanced-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4285f4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.advanced-btn:hover {
  background-color: #357ae8;
}