{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form class="filter" action="{% url 'displayCategory' %}" method="POST">
        {% csrf_token %}
        <label for="category">Choose a category: </label>
        <select name="category" id="category">
            <option value="all" {% if selected_category == 'all' %}selected{% endif %}>All Categories</option>
            {% for category in categories %}
                <option value="{{ category.categoryName }}" {% if category.categoryName == selected_category %} selected {% endif %}>
                    {{ category.categoryName }}
                </option>
            {% endfor %}
        </select>
        <button id="select" type="submit" class="btn btn-light">Select</button>
    </form>

    <div class="listing-container">
        {% for listing in listings %}
        <div class="listing-card">
            <a href="{% url 'listing' listing.id %}">
            <h3>{{ listing.title }}</h3>
            <p class="description-preview">{{ listing.description }}</p>
            <p><strong>Current Price:</strong> ${{ listing.current_price }}</p>
            {% if listing.image_url %}
                <img src="{{ listing.image_url }}" alt="{{ listing.title }}" class="listing-image">
            {% endif %}
            </a>
            <a href="{% url 'listing' listing.id %}" class="btn btn-primary">View Listing</a> 
        </div>
        {% endfor %}
    </div>

    <style>
    .description-preview {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 270px; 
        margin: 0 auto;
    }
    
    a {
        text-decoration: none;
        color: black;
        &:hover {
            text-decoration: none;
            color: rgba(90, 89, 89, 0.548);
        }
    }
    .listing-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .listing-card {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        width: 300px;
        text-align: center;
        box-sizing: unset;
    }

    .listing-image {
        width: 300px; /* Set the desired width */
        height: 300px; /* Set the desired height */
        object-fit: cover; /* Ensures the image fills the dimensions while cropping if necessary */
        border-radius: 10px; /* Optional: Adds rounded corners */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a slight shadow for better visual effect */
        margin-bottom: 20px; /* Adds spacing below the image */
    }

    .filter {
        margin-bottom: 10px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
    }
    
    #select {
        margin: 5px;
    }

    #category {
        margin: 5px;
        border: none;
        border-radius: 4px;
        background-color: #f1f1f1;
    }
    </style>
{% endblock %}
